please fill up the following details: first name last name email and age
<br><br>

<form #userPost="ngForm" (ngSubmit)="onClickSubmit(userPost.value)">
    <input type="text" placeholder="first name" minlength="2" maxlength="14" name="firstName" #firstName ngModel><br><br>
    <input type="text" placeholder="last name" minlength="2" maxlength="14" name="lastName" #lastName ngModel><br><br>
    <input type="email" placeholder="email" minlength="6" maxlength="30" name="email" #email ngModel><br><br>
    <input type="number" placeholder="age" minlength="1" maxlength="3" name="age" #age ngModel><br><br>
    <button>submit</button>
</form>

<app-card-creator [card]='card'></app-card-creator>