<div id="cardDiv">
    <p [ngClass]="{fName: card.age>20}">first name: {{card.firstName}}</p>
    <p>last name: {{card.lastName}}</p>
    <p>email: {{card.email}}</p>
    <p>age: {{card.age}}</p>
    <input type="button" value="delete" (click)="sendDeleteOrder()">
</div>